*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 10px;
}
.todoapp{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todoapp h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todoapp h2 img{
    width: 40px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 22px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 13px 30px;
    background: #ff5945 ;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 22px;
}
ul li{
    background: #edeef0;
    border-radius: 22px;
    list-style: none;
    font-size: 17px;
    padding: 12px 41px 12px 50px;
    margin-bottom: 15px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0px;
    margin: 8px;
    left: 0;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0px;
    top :0px;
    width: 31px;
    height: 31px;
    font-size: 22px;
    margin: 7px;
    padding: 3px;
    color: #555;
    list-style: 40px;
    text-align: center; 
    border-radius: 50px;
}
ul li span:hover{
    background-color: lightgray;
}
